<p>
    Nombre: {{ nombre }}
    <br>
    Apellido: {{ apellido }}
    <br>
    Edad: {{ getEdad() + 2 }} <!-- la interpolación también maneja expresiones -->
</p>

<!-- <div (keyup)='0'> -->
    <!-- <label>Repetidor:ㅤ</label> -->
    <!-- <input #entrada type="text" /> --> <!-- input para tomar el valor -->
    <!-- <h3>
        {{ entrada.value }} --> <!-- toma el valor del input, lo reconoce mediante el #entrada, sería el nombre de la variable-->
    <!-- </h3> -->
    <!-- la interpolación no solamente accede a los atributos de la clase sino también puede acceder a
    variables que están asociadas a elementosHTML -->
<!-- </div> -->

